<style>
  @import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
</style>

<div class="welcome-container">
  <mat-card class="welcome-card">
    <mat-card-header class="welcome-card-header">
      <mat-card-title>Welcome to superFlix!</mat-card-title>
    </mat-card-header>

    <mat-card-actions class="welcome-card-actions">
      <button
        mat-raised-button
        (click)="openUserLoginDialog()"
        style="margin-right: 10px;"
        color="primary"
      >Login
        <!-- <mat-icon class="btn-icon">Login</mat-icon> -->
        <!-- <span>Login</span> -->
      </button>

      <button
        mat-raised-button
        (click)="openUserRegistrationDialog()"
        style="margin-right: 10px;"
        color="primary"
      >Sign up!
        <!-- <mat-icon class="btn-icon">Sign up</mat-icon> -->
        <!-- <span>Sign up</span> -->
      </button>
    </mat-card-actions>
  </mat-card>
</div>


<!-- <div class="main-page">
  <h1>
    Welcome to superFlix!
  </h1>
  <button
    mat-raised-button
    (click)="openUserRegistrationDialog()"
    style="margin-right: 10px;"
    color="primary"
  >
    Sign Up
  </button>
  <button
    mat-raised-button
    (click)="openUserLoginDialog()"
    style="margin-right: 10px;"
    color="primary"
  >
    Login
  </button> -->

  <!-- <button
    mat-raised-button
    color="primary"
    (click)="openMoviesDialog()"
  >
  All movies
  </button> -->
<!-- </div> -->
