<mat-card class="series-dialog">
  <mat-card-header class="series-dialog-header">
    <mat-card-title class="series-dialog-title">{{data.Name}}</mat-card-title>

    <mat-card-actions class="series-actions">
      <button
        class="btn-dialog-close"
        mat-icon-button
        aria-label="Close the series details button"
        mat-dialog-close
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-header>

  <mat-card-content class="seris-dialog-content">{{data.Description}}</mat-card-content>
</mat-card>