<style>
  @import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');
</style>

<mat-toolbar class="navbar">
  <span class="nav-logo">
    <a routerLink="/movies">SuperFlix</a>
  </span>

  <span class="nav-profile">
    <a routerLink="/profile">
      Profile
    </a>
  </span>

  <span class="nav-logout">
    <a mat-button (click)="logOut()" class="logout-button">
      <mat-icon>logout</mat-icon>
      <span class="nav-logout_text">Logout</span>
    </a>
  </span>
</mat-toolbar>
