<div class="movie-list">
  <mat-card class="movie-card" *ngFor="let movie of movies; let i=index;">
    <div class="img-wrapper">
      <img class="movie-img" src="{{movie.ImagePath}} alt={{movie.Title}}">
    </div>
    <mat-card-header class="movie-title">
      <mat-card-title>{{movie.Title}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="movie-actions">
      <button
        mat-button
        (click)="openSynopsisDialog(movie.Title, movie.Description)"
      >
        Synopsis
      </button>

      <button
        mat-button
        color="primary"
        (click)="openSeriesDialog(movie.Series.Name, movie.Series.Description)"
      >
        Series
      </button>

      <button
        mat-button
        color="primary"
        (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birthday)"
      >
        Director
      </button>

      <button
        mat-icon-button
        aria-label="Example icon button with a heart icon"
        (click)="onToggleFavMovie(movie._id)"
      >
        <mat-icon class="favIcon">{{favoriteMovies.includes(movie._id) ? 'favorite' : 'favorite_border'}}</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<!-- <div style="display: flex;">
  <mat-card *ngFor="let movie of movies;" style="flex: 1 1 auto;">
    <mat-card-header>
      <mat-card-title>{{movie.Title}}</mat-card-title>
        <mat-card-subtitle>Directed by: {{movie.Director.Name}}</mat-card-subtitle>
    </mat-card-header>
    <img src={{movie.ImagePath}} alt= {{movie.Title}} />
    <mat-card-actions>
      <button
        mat-buttoncolor="primary"
      >
        Series
      </button>
      <button
        mat-button
        color="primary"
      >
        Director
      </button>
      <button
        mat-buttoncolor="primary"
      >
        Synopsis
      </button>
      <mat-icon>favorite_border</mat-icon>
    </mat-card-actions>
  </mat-card>
</div> -->