<app-navbar></app-navbar>
<div class="movie-list">
  <mat-card class="movie-card" *ngFor="let movie of movies; let i=index;">
    <div class="img-wrapper">
      <img class="movie-img" src={{movie.ImagePath}} alt= {{movie.Title}}/>
    </div>
    <mat-card-header class="movie-title">
      <mat-card-title>{{movie.Title}}</mat-card-title>
    </mat-card-header>
    <mat-card-actions class="movie-actions">
      <button
        mat-button
        (click)="openSynopsisDialog(movie.Title, movie.Description)"
      >
        Synopsis
      </button>

      <button
        mat-button
        (click)="openSeriesDialog(movie.Series.Name, movie.Series.Description)"
      >
        Series
      </button>

      <button
        mat-button
        (click)="openDirectorDialog(movie.Director.Name, movie.Director.Bio, movie.Director.Birthday)"
      >
        Director
      </button>

      <button
        mat-icon-button
        color="warn"
        aria-label="heart icon"
        (click)="onToggleFavMovie(movie._id)"
      >
        <mat-icon class="favIcon">{{favoriteMovies.includes(movie._id) ? 'favorite' : 'favorite_border'}}</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
